# Ignore everything by default
*

# Include necessary files from root
!babel.config.cts
!eslint.config.ts
!jest.config.json
!package-lock.json
!package.json
!src/*
!tsconfig.json

# Include scripts
!scripts/common/*
!scripts/container/*
